<footer>
    <div class="footer">
    <div class="para">
  <p>
    <i class="fa-solid fa-globe" aria-hidden="true"></i>
    <span class="lang">English (IN)</span>
    <span class="currency">&#8377; INR</span>
  </p>
</div>

    <div class="icons">
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-x-twitter"></i>
         <i class="fa-brands fa-facebook"></i>

    </div>
    
    <div class="parag">
         &copy 2025 ,   Paradise ,Inc
    </div>
    <div class="pages">
        <a href="">Privacy</a>
        &nbsp; &nbsp;
        <a href="">Terms</a>
    </div>
    </div>
</footer>